*~
*.pyc
/.idea
.pytest_cache
**/__pycache__
.ipynb_checkpoints
.env
*.pt
**.pth
*.pts
**.ckpt
*.dat
.vscode
**.onnx
**.mkv
**.mp4
**.trt
**.DS_Store
*.csv
*.json
**.jsonl
**.png
**.jpg
**.pkl
**.bin
**.vsix
**.0
gigacheck.egg-info/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

flake8-report.txt
mypy-report

data/
**.yaml
**.0

log.txt
.bash_history
.bashrc
.python_history
s3/
venv/
train_logs*/
val_logs*/
*_venv/
build/
flash-attention/
nltk_data/

.venv
.cache
.ipython
.triton
.nv
.local
.config
.gitconfig
.continue
